*{
    margin: 0;
    padding: 0;
}


.top-banner{
    width: 100%;
    height: 700px;
    position: relative;
    background-image: url("protimage/flood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.child-div{
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
#header-id{
    font-size: 80px;
}

.hero-btn1{
    padding:16px ;
    font-size: 24px;
    font-weight: bold;
    background-color: tomato;
    border-radius: 12px;
    
}

.mid-banner{
    width: 100%;
    height: 600px;
    justify-content: center;
    margin-bottom: 180px;
}
.header-id{
    font-size: 45px;
    color: black;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    padding-left: 40%;
    
}
.para-id{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana;
    font-size: medium;
    padding: 20px 380px;
    color: black;

}
.warper-div{
    
    display: flex;
    justify-content: center;
}

.donation-div
{
    
    width:150px;
    height: 150px;
   
    padding-top:50px ;
    padding-left: 30px;
    box-sizing:border-box ;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: #f3cddc;
}
.donation1-div{
    width:150px;
    height: 150px;
    background-color: #F8B5D0 ;
    box-sizing:border-box ;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-top:50px ;
    border: 5px solid red;
 
}
    
    
  
    

input{
    width: 80%;
    padding: 6px 20px;
    margin: 38px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    font-size: 15px;
    font-family: Verdana;
    letter-spacing: 1px;
    text-align: center;
    
}
.another-div{
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    
}
.hero-btn{
    padding:16px ;
    font-size: 24px;
    font-weight: bold;
    background-color: tomato;
    border-radius: 12px;
    color: white;

}